<div class="alert-top-notify suc col-lg-12"></div>
<div class="container-fluid" id="menu-wrapper">
	<div class="row">
		<div class="col-xs-8">
			<ul id="ul-menu">
				<li>
					<div class="separator"></div>
					
				</li>
				<% if(typeof user == 'object') {%>
				<li>
					<div class="dropdown">

						<a href="#" class="dropdown-toggle capitalize" data-toggle="dropdown">Hi, <%= user.fname  %> <%= user.lname %> <span class="caret"></span></a>

						<ul class="dropdown-menu dropdown-username">
							<li>
								<a href="/customerAccount">Your Account</a>
							</li>
							
							<li>
								<a href="/logout">Sign Out</a>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<div class="separator">|</div>
					<a href="#">Your Orders</a>
				</li>
				
				<% }else{ %>
				<li>
					<span style="color: white; text-align: right;">
						
						<a href="/login" style=" font-weight: bold; text-decoration: underline; color: white; text-align: right;" >Sign in</a> to Buy
					</span>
				</li>
				<% } %>
			</ul>
		</div>
	</div>
</div>
